.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    padding-top: 50px;
    transform: translateX(-200px);
    transition: transform 0.3s ease-in-out;
    border-right: 2px solid #888;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.burger-menu.open {
    transform: translateX(0);
    z-index: 2;
}

.burger-menu ul {
    list-style: none;
    padding: 0;
    z-index: 2;
}

.burger-menu li {
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2;
}

.burger-menu li:hover {
    background-color: #555;
    z-index: 2;
}

.burger-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    top: 1%;
    left: 1%;
    color: white;
    transition: transform 0.3s ease;
    z-index: 3;
}

.burger-button.open {
    transform: translateX(200px);
    z-index: 3;
}

.role-p{
    position: fixed;
    top: 1%;
    left: 5%;
    font-size: 20px;
}