/* CrimeCard.css */

.crime-card {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.crime-card-content {
    background-color: #555;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    z-index: 3;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 3;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

